body {
    /* background-color: #28DAD4; */
    background-color: #dd33bb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dd33bb'/%3E%3Cstop offset='1' stop-color='%23404'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F70' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23F70' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23F6B' stroke-width='1' stroke-miterlimit='10' stroke-opacity='.3'%3E%3Crect x='12.5' y='12.5' width='975' height='975'/%3E%3Crect x='25' y='25' width='950' height='950'/%3E%3Crect x='37.5' y='37.5' width='925' height='925'/%3E%3Crect x='50' y='50' width='900' height='900'/%3E%3Crect x='62.5' y='62.5' width='875' height='875'/%3E%3Crect x='75' y='75' width='850' height='850'/%3E%3Crect x='87.5' y='87.5' width='825' height='825'/%3E%3Crect x='100' y='100' width='800' height='800'/%3E%3Crect x='112.5' y='112.5' width='775' height='775'/%3E%3Crect x='125' y='125' width='750' height='750'/%3E%3Crect x='137.5' y='137.5' width='725' height='725'/%3E%3Crect x='150' y='150' width='700' height='700'/%3E%3Crect x='162.5' y='162.5' width='675' height='675'/%3E%3Crect x='175' y='175' width='650' height='650'/%3E%3Crect x='187.5' y='187.5' width='625' height='625'/%3E%3Crect x='200' y='200' width='600' height='600'/%3E%3Crect x='212.5' y='212.5' width='575' height='575'/%3E%3Crect x='225' y='225' width='550' height='550'/%3E%3Crect x='237.5' y='237.5' width='525' height='525'/%3E%3Crect x='250' y='250' width='500' height='500'/%3E%3Crect x='262.5' y='262.5' width='475' height='475'/%3E%3Crect x='275' y='275' width='450' height='450'/%3E%3Crect x='287.5' y='287.5' width='425' height='425'/%3E%3Crect x='300' y='300' width='400' height='400'/%3E%3Crect x='312.5' y='312.5' width='375' height='375'/%3E%3Crect x='325' y='325' width='350' height='350'/%3E%3Crect x='337.5' y='337.5' width='325' height='325'/%3E%3Crect x='350' y='350' width='300' height='300'/%3E%3Crect x='362.5' y='362.5' width='275' height='275'/%3E%3Crect x='375' y='375' width='250' height='250'/%3E%3Crect x='387.5' y='387.5' width='225' height='225'/%3E%3Crect x='400' y='400' width='200' height='200'/%3E%3Crect x='412.5' y='412.5' width='175' height='175'/%3E%3Crect x='425' y='425' width='150' height='150'/%3E%3Crect x='437.5' y='437.5' width='125' height='125'/%3E%3Crect x='450' y='450' width='100' height='100'/%3E%3Crect x='462.5' y='462.5' width='75' height='75'/%3E%3Crect x='475' y='475' width='50' height='50'/%3E%3Crect x='487.5' y='487.5' width='25' height='25'/%3E%3C/g%3E%3Crect fill-opacity='.3' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: url(https://greghub.github.io/coloron/public/svg/cursor.svg), pointer;
}

a:focus, a:active {
    cursor: url(https://greghub.github.io/coloron/public/svg/cursor-tap.svg), pointer;
}

.container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

/* .noise {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1010;
    background: url(https://greghub.github.io/coloron/public/svg/noise.png);
} */

.stick {
    height: 362px;
    width: 90px;
    border-radius: 14px;
    background-image: url(https://greghub.github.io/coloron/public/svg/noise.png);
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 90px;
    transition: background-color 0.4s ease;
    cursor: url(https://greghub.github.io/coloron/public/svg/cursor.svg), pointer;
}

.stick:focus, .stick:active {
    cursor: url(https://greghub.github.io/coloron/public/svg/cursor-tap.svg), pointer;
}

.stick.red {
    background-color: #C20027;
}

.stick.yellow {
    background-color: #32a852;
}

.stick.purple {
    background-color: #286FB4;;
}

.stick.inactive {
    background-color: #4C4660;
}

.ball, .ball-demo {
    background: url(https://greghub.github.io/coloron/public/svg/ball.svg) right bottom;
    background-size: 64px 64px;
    width: 53px;
    height: 53px;
    z-index: 1011;
    background-color: #C20027;
    border-radius: 50%;
}

.ball {
    margin-bottom: 250px;
}

.controls {
    z-index: 999999;
    position: relative
}

.game-full-flex {
    position: fixed;
     display: none;
    /* // gets updated to flex with JS */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
}

.start-game .start-game-top {
    min-height: 20%;
}

.start-game .play-full-page {
    display: none;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    width: 260px;
    height: 50px;
    font-size: 28px;
    text-align: center;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 52px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 24px;
}

.logo-holder {
    width: 513px;
    height: 162px;
    background-image: linear-gradient(to right, #DF4C73, #7A77B9 );
    border: 20px solid #FF4571;
    border-radius: 40%;
    text-align: center;
    margin-top: -10%;
}

.logo {
    color: #4C4660;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 90px;
    letter-spacing: -0.1em;
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: center;
}

.logo span {
        margin-left: -8px;
        margin-right: -8px;
}

.play-button {
    display: inline-block;
    background-color: #FFC49B;
    border: 4px solid #fff;
    border-radius: 100px;
    color: #fff;
    width: 200px;
    height: 56px;
    font-size: 42px;
    text-align: center;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 56px;
    text-decoration: none;
}

.hint {
    color: #fff;
    font-size: 20px;
}

.hint span {
    color: #286FB4;
}

.how-to-play {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.section-1, .section-3 {
    flex: 1;
}

.content {
    justify-content: center;
}

.how-to-play h4 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.content {
    height: 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.bar {
    width: 60px;
    border-radius: 7px;
    margin-top: auto;
    transition: background-color 0.4s ease;
}

.bar-1 {
    height: 180px;
    background: #C20027;
}
.bar-2 {
    height: 120px;
    background: #32a852;
}
    
.bar-3 {
    height: 150px;
    background: #4C4660;
}

.section-2 .bar {
    cursor: url(https://greghub.github.io/coloron/public/svg/cursor.svg), pointer;
}

.section-2 .bar:focus, .section-2 .bar:active {
    cursor: url(https://greghub.github.io/coloron/public/svg/cursor-tap.svg), pointer;
}

.section-3 .ball-demo {
    background-color: #C20027;
}

.section-3.bar-1 {
    height: 120px;
    background-color: #815FF8;
}

.stop-game {
    justify-content: center;
}

.stop-game .score-container {
    background-color: #4C4660;
    width: 433px;
    height: 386px;
    border-radius: 38px;
    text-align: center;
}

.stop-game .score-container h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 64px;
}

.final-score {
    color: #FFE345;
    font-weight: 900;
    font-size: 130px;
    letter-spacing: -6px;
    line-height: 110px;
}

.result {
    color: #FF4571;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

.result h4 {
    color: #fff;
    margin-top: 12px;
}

.tweet {
    background: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    color: #55ACEE;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
}

i {
    font-size: 24px;
    top: 2px;
    right: 2px;
    position: relative;
}

.play-again {
    background-color: #FF4571;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 26px;
    padding: 6px 24px;
    border-radius: 22px;
    margin: 6px 4px;
    display: inline-block;
}

.main-menu {
    background-color: #44BFA3;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 26px;
    padding: 6px 24px;
    border-radius: 22px;
    margin: 6px 4px;
    display: inline-block;
}

.scene {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 9997;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ball-holder {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 558px;
}

.score {
    position: fixed;
    right: 54px;
    top: 20px;
    color: #33485F;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: -0.1em;
}

.learn-to-play {    
    z-index: 9999;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 48px;
    color: rgba(255,255,255,0.85);
    font-weight: 700;
    letter-spacing: -2px;
    opacity: 0;
}
